@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-white1 {
  background: #e10700;
}
.bg-black1 {
  background: #fff;
}
.text-white1 {
  color: #000;
}
.text-black1 {
  color: #fff;
}
.bg-white {
  background: #fff;
}
.bg-black {
  background: #000;
}
.bg-red {
  background: #e10700;
}
.bg-grey {
  background: #f3f3f3;
}
.color-red {
  color: #e10700;
}
.team-mclaren {
  border-right: 6px solid #ff8000;
}
.team-redbull {
  border-right: 6px solid #3672c6;
}
.team-ferrari {
  border-right: 6px solid #e8002e;
}
.color-grey {
  color: #888;
}
.btn-f1 {
  color: #e10700;
  border: 2px solid #e10700;
  border-radius: 6px;
  height: 34px;
  line-height: 31px;
  width: 180px;
  text-align: center;
  cursor: pointer;
}
.p-normal {
  padding: 1.25rem;
}
.fraction {
  display: inline-block;
  text-align: center;
}
.fraction .top {
  display: block;
  border-bottom: 1px solid #000;
  padding: 2px;
}
.fraction .bottom {
  display: block;
  padding: 2px;
}
.rulesPage ul {
  list-style-type: disc;   
  padding-left: 30px;      
}
.rulesPage ul.numeric {
  list-style-type: decimal;
  padding-left: 50px;
}
.rulesPage table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  max-width: 400px;
}
.rulesPage table th,
.rulesPage table td {
  padding: 10px 12px;
  text-align: center;
  border: 1px solid #ddd;
}
.rulesPage table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
.rulesPage table tr:nth-child(even) {
  background-color: #fafafa;
}
.mobile-menu ul li a {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom-right-radius: 8px;
}
.sm-btn-f1 {
  color: #e10700;
  border: 2px solid #e10700;
  border-radius: 6px;
  height: 30px;
  line-height: 28px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}
.sm-btn-f1.active {
  background: #e10700;
  color: #fff;
}
@layer components {
  .btn-f1 {
    color: #e10700;
    border: 2px solid #e10700;
    border-radius: 6px;
    height: 34px;
    line-height: 31px;
    width: 180px;
    text-align: center;
    cursor: pointer;
  }
  .btn-f1.active {
    background: #e10700;
    color: #fff;
  }

  @screen lg {
    .lg\:btn-f1 {
      @apply btn-f1;
    }
  }
}

@media (max-height: 500px) {
  .featured-title {
    margin-top: 2rem;
  }
}
@media (max-width: 1200px) {
  .featured-title {
    margin-top: 2rem;
  }
}